# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# C# Upload Ignore
.vs/
.bin/
.obj/
*.sln
*.config
*.exe
*.pdb
*.csproj
*.cache
*.txt
AssemblyAttributes.cs
AssemblyInfo.cs
